<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ConsoleAppTest.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="ConsoleAppTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ConsoleAppTest.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ConsoleAppTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="CustomSection" type="ConsoleAppTest.Configuration.CustomSection, ConsoleAppTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	</configSections>
	
	<CustomSection fileName="default.txt" maxUsers="1000" maxIdleTime="00:15:00" />
	
	<system.diagnostics>

		<trace autoflush="false" indentsize="4">

			<listeners>

				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />

				<remove name="Default" />

			</listeners>

		</trace>

	</system.diagnostics>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>

		<appender name="Console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<!-- Pattern to output the caller's file name and line number -->
				<conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
			</layout>
		</appender>

		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="example.log" />
			<appendToFile value="true" />
			<maximumFileSize value="100KB" />
			<maxSizeRollBackups value="2" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
			</layout>
		</appender>

	</log4net>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.3.2.0" newVersion="1.3.2.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-0.27.1.0" newVersion="0.27.1.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>

	<userSettings>
		<ConsoleAppTest.Properties.Settings1>
   <setting name="test003" serializeAs="String">
    <value />
   </setting>
  </ConsoleAppTest.Properties.Settings1>
  <ConsoleAppTest.Properties.Settings>
			<setting name="Test01" serializeAs="String">
				<value />
			</setting>
		</ConsoleAppTest.Properties.Settings>
	</userSettings>
	
	<applicationSettings>
		<ConsoleAppTest.Properties.Settings1>
   <setting name="Setting005" serializeAs="String">
    <value />
   </setting>
  </ConsoleAppTest.Properties.Settings1>
  <ConsoleAppTest.Properties.Settings>
			<setting name="Test02" serializeAs="String">
				<value />
			</setting>
		</ConsoleAppTest.Properties.Settings>
	</applicationSettings>

	<appSettings>
		<add key="Setting3" value="May 5, 2014" />
		<add key="Setting4" value="May 6, 2014" />
	</appSettings>
</configuration>
