<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomSection" type="ConsoleAppTest.Configuration.CustomSection, ConsoleAppTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToLocalUser"  requirePermission="false" />
	</configSections>
	<CustomSection fileName="default.txt" maxUsers="1996" maxIdleTime="00:15:00" />
	<appSettings>
		<add key="Setting1" value="Hello World2" />
		<add key="Setting2" value="May 6, 2014" />
	</appSettings>
</configuration>